
.message {
    color: blue;
}
.SidebarList{
    height: auto;
    min-width:200px;
    padding: 0;
    background-color: aliceblue;
    border-radius: 15px;

}

#root >.container {
    min-height: calc(100vh - 11rem - 6rem);
}
.body {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}

.sidebar{
    height: 100vh;
    width: 200px;
    background-color:#f1ebeb;
    margin:2rem;
   
}

// .sidebar {
//     height: 100%;
//     
//     background-color: 
// }
.SidebarList{
    height: auto;
    width: 100%;
    padding: 0;
    background-color: rgb(216, 207, 224);
  
    
}
// .SidebarList .row{
//     width: 100%;
//     height: 50px;
//    background-color: rgb(176, 187, 187);
//    list-style-type: none;
//    margin: 0;
//    flex-direction: row;
//    color: white;
//    justify-content: center;
//    align-items: center;
//    font-family: 'Courier New', Courier, monospace;
.selected.row {
    background-color: rgb(176, 187, 187);
    margin: auto;
}
.sideBody{
    display: flex;
    align-items: flex-start;
}


h3{
    padding: 10px;
    border-width: 10px;
    height: 30px;
    margin: 2rem auto;
    color:black;
   
}

.definition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-width: 10px;
    

}


  

  

//    .resourceLink h5{
//        flex-direction: column;
//        align-items: overflown;
//        display: flex;
//        width: 400px;
//        margin-bottom: 5px;      
   
//    }



body {
  margin: 0;
  padding: 0;
}

