.logo {
    width: 100px;
}

.message {
    color: blue;
}
.SidebarList{
    height: auto;
    width: 100%;
    padding: 0;
    background-color: aliceblue;
}

.body {

    width: 80%;
    margin: 2rem auto;
    text-align: center;
}
.sidebar{
    height: 100vh;
    width: 200px;
    background-color:#f1ebeb;
}

.Description{
    width:50%;
    height:50vh;
    display: flex;
    align-items: center;
    text-align: center;
}

h3{
    padding: 10px;
}