.gallery-cell {
    width: 128px;
    height: 160px;
    margin: 40px;
    background: #8C8;
    counter-increment: gallery-cell;
    
  }
  
  .carousel-inner{
    display: flex;
    text-align: center;
  }
  /* cell number */
  .gallery-cell:before {
    display: inline-block;
    justify-content: center;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }