.description{
    width:630px;
    background-color: rgb(216, 207, 224);
    text-align: center;
    padding: 30px;
    margin: 1rem auto;
    border-radius: 15px;
 }
 .resource{   
     display: flex;
     flex-direction: column;
     margin: 30px;
     color:black;
   }
 
   .resourceLink{
    
     display: flex;
     align-items: center;
     text-align: center;
     flex-direction: column;
    
 
   }
   .definition-box{
       background-color: #EFEFEF;
       width:700px ;
       border-radius: 15px;
       padding:1rem;
   }
   .definition-container{
    display:flex;
    justify-content:space-between;
   

   }