.video {
    margin: 2rem auto;
    width: 600px;
}
.youtubeRes{
    align-items:center;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-around;
}

.externalLink{
margin-top:3rem ;
} 